<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>b1</title>
</head>
<body>
<h1>apple</h1>
<h1>appleeeeeee</h1>
<div class="col-md-4 col-sm-4 mi-go wow fadeInUp" data-wow-duration="1s"
        data-wow-delay="0.6s" style="animation-duration: 1s; animation-delay:0.6s;
        animation-name: none;">
        <div class="goodnesssec buttermilk smbg">
            <a href="{% url 'category' 'SA' %}">
                <div class="goodnesseccont text-center">
                    <img src="{% static 'app/image/product/seasonal allergies.jpg' %}"height="200" width="200"
                    class="img-responsive center-block" alt="">
                    <p class=" mlkpro ">Seasonal Allergies</p>
                </div>
            </a>

</body>
</html>